@import 'part-scss/title.scss';

body {
    background-color: #e9dede;
    background-size: cover;
    background-position: center;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

@import 'part-scss/news.scss';